# Node
node-api/node_modules/
node-api/.env
node-api/.env.*
node-api/npm-debug.log*
node-api/yarn-debug.log*
node-api/yarn-error.log*
node-api/pnpm-debug.log*
node-api/.DS_Store

# PHP / misc
*.log
config.php
